streamlit
numpy
pandas
scikit-learn
bokeh
pydantic
python-dotenv
langchain
PyPDF2
openai
faiss-cpu
langchain-community
langchain-core
langchain_openai
ragas
transformers
datasets
huggingface_hub
flashrank
nltk

